---;
const items = ["About", "Home"];
---
<div class="header"> 
  <h1 class="title">Learn Astro</h1>
</div>

<style>
  .header {
    position:fixed;
    top:0;
    height:3em;
    width:100%;
    background-color:rosybrown;
  }
  .title {
    display:inline-block;
    padding-left:.25em;
    line-height:.1em;
  }
</style>
